Listen 443 https

##  SSL Global Context
SSLPassPhraseDialog exec:/usr/libexec/httpd-ssl-pass-dialog

SSLSessionCache         shmcb:/run/httpd/sslcache(512000)
SSLSessionCacheTimeout  300

SSLCryptoDevice builtin

SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite          ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
SSLHonorCipherOrder     off

## SSL Virtual Host Context

<VirtualHost *:443>

    ServerName example.com
    ServerAlias www.example.com

    DocumentRoot /home/public_html/example

    SSLEngine on
    SSLCertificateFile      /path/to/signed_certificate
    SSLCertificateChainFile /path/to/intermediate_certificate
    SSLCertificateKeyFile   /path/to/private_key

    # HTTP Strict Transport Security (mod_headers is required) (63072000 seconds)
    Header always set Strict-Transport-Security "max-age=63072000"


    # loop-back 인터페이스에서 요청을 표시한다
    SetEnvIf Remote_Addr "127\.0\.0\.1" dontlog
    # robots.txt 파일에 대한 요청을 표시한다
    SetEnvIf Request_URI "^/robots\.txt$" dontlog
    # 나머지를 로그에 남긴다
    # CustomLog logs/access_log common env=!dontlog

    # SetEnvIf Accept-Language "en" english
    # CustomLog logs/english_log common env=english
    # CustomLog logs/non_english_log common env=!english

    # Log
    ErrorLog logs/ssl_error_log
    # TransferLog logs/ssl_access_log
    TransferLog "|/usr/bin/rotatelogs -l /var/log/apache2/example.com-ssl_access_log-%Y%m%d 86400"
    CustomLog logs/ssl_request_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

</VirtualHost>
